@import url(./global.css);
@import url(./servicios.css);

#nosotros{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#banner-nosotros{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: linear-gradient(-45deg, rgb(178, 177, 212) 19%, rgb(255, 255, 255) 100%);
}


.tarjeta{
    height: calc(100vh - var(--header-heigth));
    color: black;
}

.tarjeta h1{
    text-align: center;
    font-size: 200%;
    transition: .2s;
}

.tarjeta p{
    font-size: 80%;
    margin: 0 auto;
    text-align: justify;
}

.contenedor-contacto{
    display: grid;
    grid-template-columns: 49% 49%;
    padding: 25px;
    padding-left: 2%;
}

.formulario{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
}

.formulario .input-group{
    position: relative;
}

.formulario label{
    position: absolute;
    transform: translateX(10px) translateY(10px);
    transition: .15s;
}

.formulario .input-group:focus-within label{
    transform: translateX(0px) translateY(-10px) scale(.8);
}

.formulario .input-group:focus-within input{
    border-color: var(--bar-highlight-color);
    outline: none;
}

.formulario form input,select{
    box-sizing: border-box;
    width: 95%;
    height: 2rem;
    text-indent: 15px;
    font-size: medium;
    background-color: var(--global-bg-color);
    border: none;
    border-bottom: 2px solid var(--bar-highlight-color);
    background-color: inherit;
}

.formulario form select{
    position: relative;
    text-indent: 5px;
    left: -12px;
}

.formulario form option{
    background-color: var(--global-bg-color);
    border: 1px solid var(--header-color);
}

.formulario form #botonEnviar{
    width: 95%;
    background-color: var(--header-color);
    color: var(--header-highlight-color);
    transition: .3s;
    border: none;
}
.info{
    width: 80%;
    height: 80%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgba(4, 51, 92, 0.25);
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
.title{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: larger;
}

.formulario form #botonEnviar:hover{
    -webkit-box-shadow: 0px -4px 8px -2px rgba(0,0,0,0.65); 
    box-shadow: 0px -4px 8px -2px rgba(0,0,0,0.65);
    cursor: pointer;
    transform: translateY(1px);
    background-color: var(--header-highlight-background);

}

.formulario form select{
    margin: 0 auto;
}

.formulario h1{
    display: block;
    margin-top: 15px;
}

@media (max-width: 720px) {
    .contenedor-contacto{
        display: flex;
        flex-direction: column;
    }

    .formulario{
        width: 95%;
        margin: 10px auto;
    }

    .formulario input{
        width: 100%;
    }

    .info{
        margin-top: 30px;
        padding: 30px 5px;
        height: 200px;
    }
}